body, html{
  
  min-height: 100%;
  position: relative;
  overflow-x: none!important;

}

/******************* pocetna body ******************/
.pocetna {
  background: url('../img/black.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}



.header {
  /*background-color: #B0A6A4  ; 
  background: linear-gradient(black, #AFEEEE); */
   background:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)); 
  height: 65px;
  text-align: right;
  width:100%;
 
  }


  .header_o_nama{
  /*  background:linear-gradient(
      rgba(1, 1, 1, 0.6), black); */
    background-color: black;
    text-align: right;
    height: 65px;
  }

  .pozadina_o_nama{
    background-color: #171616; 
   padding-bottom: 5%;
   width: 100%;
   
    
  }


/************ mali meni *******/

.mali_meni {
  display: none;
  position: relative;
  top:15px;
}

.mali_meni a{
  text-decoration: none;
  color: #F77544;
}

.mali_meni a:hover{
  color: #F77544;
}


 .dropdown-content-mali{
  z-index: 10;
  display: none;
  text-align:left;
  position:absolute;
  left:0;
  right:0;
  background:linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)); 
 
}

.dropdown-content-mali a{
 
  color: grey;
  font-style: "Popins";
  display:block;
  padding: 12px 16px;
  text-decoration: none;
  border-bottom:1px solid #F77544;
  font-size: 15px;
}

.dropdown-content-mali a:hover {
  color: white;
  text-decoration: none;
}


/************************** navigation bar *******************/

.nav_bar li a{
  color:white;
  
  font-size: 1.5em;
  font-style: "Popins";

}

.nav_bar li a:hover{
  color:#454545; /*tamnija siva*/

  /*#3B3838 svetlija*/
  text-decoration: none;
}

.nav_bar li{
  display: inline;
  padding-right: 5%;
}

.nav_bar{
  padding-top: 20px;
  
}

/******** owl-carousel na pocetnoj ************/



.owl-carousel .owl-item .manji_natpis{
  font-size: 5em; 
  font-weight:lighter;
}

.owl-carousel .owl-item .veci_natpis{
  font-size: 7em; 
  font-weight:bold;
}


#webDev .owl-carousel{
  padding-left: 20px;
  position: fixed;
  bottom: 0;

}

 #webDev .owl-carousel .owl-item  {
  text-align: left; 
   display: block;
  
}



.owl-carousel .owl-item p{
  font-family: "Vollkorn";
  color:   #F77544 !important; 
  text-shadow: 10px 5px 1px black !important;
  
}

.owl-carousel .owl-item i{  /************ bouncing arrow **********/
  color:#F77544;
  font-size: 150px;
  padding-left: 80px;
  text-shadow: 10px 5px 1px black !important;
   
}

.owl-carousel .owl-item i:hover{
  animation: animate 1s linear infinite;
}

.owl-theme .owl-dots .owl-dot.active span{
  transform: scale(1.5);
}


@keyframes animate{
    0%{
      transform: translateX(-20px);
    }
    20%{
      transform: translateX(0px);
    }
    40%{
      transform: translateX(20px);
    }
    60%{
      transform: translateX(40px);
    }
    100%{
      transform: translateX(60px);
    }
  }





/******************** owl carousel galery tutorijali**********************/

.slika_gal{
  opacity: 0.7;

}

.slika_gal:hover{
  opacity:1;
  transform: scale(1.1);
  padding: 10%;

}


/**************  section webDev  *********************/
#webDev { 
  width: 100% !important;
  height: 100%;

 } 
  

/*********  section tekst iznad slika tima   *********/

.text{
  background-color:#171616;
  padding-top: 5%;
  width: 100%;
  /*height: 90vh;*/
}

.text .row{
  background-color:#1A1A1A;
  margin-left: 5%;
  margin-right: 5%;

}

.text .row .moto{
  font-family: "Vollkorn";
  font-size: 3em;
  padding-top: 30px;
  color:grey;
}


.text .row p{
  font-family: "Popins";
  color:grey;
  font-size: 1.5em;

}


.text .row button {
  margin-top:2.5%;
  margin-bottom: 2.5%;
  background-color: transparent;
  border: 1px solid #F77544;
  color: #F77544;
  transform: scale(1.5);
  border-radius:0;
}
 

 .tim_strelica{
  
  color:#F77544;
  font-size: 4em;
  
}


.strelica_wrapper{
  position: relative;
}

/********************* section tim  *********************/


#tim{
  background-color:  #171616;
  /*height: 500px;*/
  width: 100%;
  
}

#tim .row{
  background-color:#1A1A1A;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 2%;
}

.slika { 
  margin-top: 10%;
  width: 250px;
  height: 250px;
  border:1px solid #F77544;
  position: relative;
  
}

.slika:hover{
  opacity: 0.3;
}

.div_slika:hover .txt_preko_slike{
  opacity: 10;
}


.div_slika{
  width: 250px;
}

.txt_preko_slike {
  font-family: "Popins";
  font-weight: bold;
  color:#F77544;
  position: absolute;
  left: 50%;                       
  top: 50%;                         
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  
}





#bezveze{
  color: #F77544;
  font-style: Popins;
  font-size: 1.5em;
  padding-top: 3%;
}

#tim h2{
  color: grey;
}

#fax{
    font-style: Popins;
  color:grey;
  font-size: 1.5em;
  padding-top: 3%;
}

#krstapokusaj{
  width: 45px;
  height: 45px;
  margin-bottom: 7%;
}

#krstapokusaj:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 #krstapokusaj {
    color:white;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }



.pokusaj{
  background-color:#171616;
  padding-top: 3%;
 padding-bottom: 1%;
 /* margin-bottom: 20%;
  height: 125px;*/
  width: 100%;
}


#asda .container{
  background-color:#1A1A1A;
  margin-left: 5%;
  margin-right: 5%;

}


/********************* Dropdown menu *************************/

.dropdown {
    position: relative;
    display: inline-block;   
    height: 50px;
}


.dropdown-content {
    
    position: absolute;
    background:linear-gradient(
      rgba(0, 0, 0, 0.8), 
      rgba(0, 0, 0, 0.8));
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    -webkit-transition: all 1s;
    opacity: 0;
    margin-top: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-align: center;
    border:1px solid #AFEEEE;
    text-align: left;
    height: 0;
    line-height: 0;
    -webkit-transition: height 0.5s;

}


.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
}


.dropdown:hover .dropdown-content a{
  height: 60px;
  line-height: 40px;
}

.active{
  color:grey !important;
  
}


/***************** tutorijali ***************************/


.container .row {
  margin-bottom: 50px;
  margin-top: 40px;
}

#tekst p{
  font-size: 1.5em;
  font-family:"Popins" !important;
  font-weight: bold;
  color: #d4cec1;

}

#tekst .naziv{
  font-family: "Vollkorn";
  color:grey !important;
}

#tekst ul p a{
  color: grey;
}

#tekst ul p a:hover{
  color: white;
  text-decoration: none;
}



#klip1{
border:2px solid #AFEEEE;
}

#klip2{
border:2px solid yellow;
}

#klip3{
border:2px solid red;
}

#klip4{
border:2px solid #2968ce;
}

#klip5{
border:2px solid #c6331f;
}

#klip6{
border:2px solid #0844a5;
}

#klip7{
border:2px solid yellow;
}

#klip8{
border:2px solid #c6331f;
}

#klip9{
border:2px solid #146d0c;
}

#klip10{
border:2px solid red;
}

#klip11{
border:2px solid yellow;
}

#klip12{
border:2px solid #1c872e;
}

#klip13{
border:2px solid red;
}

#klip14{
border:2px solid #2968ce;
}

#klip15{
border:2px solid #e023bd;
}

#klip16{
border:2px solid #2ebbdb;
}

#klip17{
border:2px solid #AFEEEE;
}

#klip18{
border:2px solid #AFEEEE;
}



.nesto{
  background-color:#171616;
  padding-top: 3%;
 padding-bottom: 1%;
 /* margin-bottom: 20%;
  height: 125px;*/
  width: 100%;
}


#asd .container{
  background-color:#1A1A1A;
  margin-left: 5%;
  margin-right: 5%;
}


.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 60px; overflow: hidden;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/********************** footer ******************/
 

footer{
  height: 65px;
   
  padding: 1rem;
  background-color: black;
  width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; 
}



 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-insta:hover {
     color: red;
 }
 #social-em:hover {
     color: #f39c12;
 }

 .social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
    color:white;
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }


/*************  scrol to top arrow  ***************/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: black;
    border: 2px solid  #F77544;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 10;


}
#return-to-top i {
    color: #F77544 !important;
    bottom:0;
    position: relative;
    left: 0;
    top: 13px;
    font-size: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background-color: black;

}
#return-to-top:hover i {
    top: 5px;
}




