
footer{
	background-color: black;
}
#slike img{
	width: 45px;
	height: 45px;
	margin-top: 10px;
}

#copy{
	font-family: tahoma;
	margin-top: 25px;
	color: white;
}
#logo img{
	width: 165px;
	height: 75px;
	margin-bottom: 10px;
}



.pocetna { 
	/*background: black !important;*/
	background: url("../img/tech.jpg") no-repeat center center scroll;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	color: black;


 }

#zoom_in_sa_crtom, #zoom_in_bez {
	
	border-bottom-color:#acac86;
	transition: all .2s ease-in-out;
	overflow: hidden;
}

#zoom_in_sa_crtom{
	border-bottom-style: solid;
	border-bottom-color:black;
}



.ft, .db{
	font-size: 5em;
	font-style: bold;
	font-family: Georgia; 
	text-align: center;
	transition: all .2s ease-in-out;
}

.db{
	color: black 
}

.ft{
	color: white  

}

#zoom_in_bez:hover, #zoom_in_sa_crtom:hover {
	transform: scale(1.1);

}