
/****************** media query ***************************/

@media(max-width: 320px){
  .text .row .moto{
    font-size: 1.5em !important;
  }

   .owl-carousel .owl-item .manji_natpis{
    font-size: 2em!important ;

  }


}


@media(max-width: 430px){

  .owl-carousel .owl-item .veci_natpis{
    font-size: 3em!important;
   }

   .owl-carousel .owl-item .manji_natpis{
    font-size: 2em!important ;

  }

  .owl-carousel .owl-item i {
      font-size: 10px;
      
    }

    .tim_strelica{
    display: none;
  }

  .header{
    text-align: left!important;
  }

  .mamicuti{
    text-align:right;
  }

  #krstapokusaj{
    margin-bottom: 15%;
  }
}




@media (max-width: 490px){
  .owl-carousel .owl-item .veci_natpis{
    font-size: 3em!important;
  }

  .owl-carousel .owl-item .manji_natpis{
    font-size: 2em!important;

  }


  .owl-carousel .owl-item p {
    text-shadow: none !important;
  }

  .owl-carousel .owl-item i {
    font-size: 20px;
    padding-left: 10px;
    text-shadow:none !important;
  }

  #webDev .owl-carousel{
    padding-left: 20px;
  }

  .mali_meni{
    display: inline-block;
  }



  #meni{
    display: none;
  }

}


@media(min-width: 500px){
  .dropdown-content-mali{
    display: none!important;
  }
}


@media(max-width:  600px) {

  footer {
    height: 65px;
  }
  .ft{
      font-size: 4em;
  }
  .thumb {
    height: 100px;
    width: auto;
    opacity: 1;
  }
  #outer_container{
    height: 20px;
  }
  #slider{
    padding-top: 10px;
  }

  .owl-carousel .owl-item .veci_natpis{
    font-size: 3em;
  }

  .owl-carousel .owl-item .manji_natpis{
    font-size: 2em;

  }

  .owl-carousel .owl-item p {
    text-shadow: text-shadow: 5px 5px 1px black !important;
  }


  .owl-carousel .owl-item i {
      padding-left: 40px;
  }



}

@media(max-width: 800px) {

  footer {
    height: 65px;
  }

   .owl-carousel .owl-item .veci_natpis{
    font-size: 5em;
   }

   .owl-carousel .owl-item .manji_natpis{
    font-size: 4em;

  }
    .owl-carousel .owl-item i {
    font-size: 50px;
 
    }
   

}



@media(max-width: 1000px) {
  .zamena{
   display:table; 
   width: 90%;
  }

  .zamena1{
    display:table;
    width: 100%;
    padding-left: 5%
  }
  .div1 {
      display:table-footer-group;
      
  }
  .div2 {
      display:table-header-group;
    
  }

  .div_slika:hover .txt_preko_slike{
  display: none;
}

  
}




@media(max-width: 1100px){
  .text .row .moto{
    font-size: 2em;
  }

  .tim_strelica{
    font-size: 1em;
  }




}


